{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Choice VRS">
        <meta name="author" content="Choice VRS">
        <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

        <title>
            {{ title }}
        </title>

        {% block headerscripts %}{% endblock%}

        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">-->

        <link rel="stylesheet" type="text/css" href="/static/css/bootswatch.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen" />

    </head>

    <body>
        <!-- wrap it up for sticky footer -->
        <div id="wrap">

            <!-- nav bar -->
            <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ChoiceVRS</a>
                </div>
                <div class="collapse navbar-collapse">

                    <!-- to the left -->
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>

                    <!-- to the right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">Register</a></li>
                        <li><a href="/about">Login</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">TestUser100 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Support</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- content of the page -->
            <div class="container">
                {% block content %}
                <div class="page-header">
                    <h1>Sticky footer with fixed navbar</h1>
                </div>
                <p class="lead">content!!!</p>
                {% endblock %}
            </div>

            <!-- sticky footer -->
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit">&copy; ChoiceVRS. All Rights Reserved.</p>
                </div>
            </div>

            <!-- end so they are faster -->
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            {% block jsscripts %}{% endblock %}
        </div>
    </body>
</html>
{% endspaceless %}